// Color Variables
:root {
  //Base
  --color-background-color: #1c1919;
  --color-text-default: #e6edf3;
  --color-text-muted: rgb(125, 133, 144);

  // Theme
  --color-primary-orange: #eb5937;
  --color-primary-grey: #403d3c;
  --color-primary-blue: #456f74;
  --color-secondary-orange: #d3cbbd;
}
