// Fonts

%sourceCodePro {
  font-family: $base-font-stack;
  font-style: normal;
  font-weight: 400;
}

%sourceCodePro-semibold {
  font-family: $base-font-stack;
  font-style: normal;
  font-weight: 600;
}

%sourceCodePro-bold {
  font-family: $base-font-stack;
  font-style: normal;
  font-weight: 700;
}
