// Main Nav

.main-nav {
  &__navbar {
    background-color: color(brand, oxford-blue);
    height: 100px;
  }
  .navbar-brand {
    @extend %sourceCodePro;
    text-transform: uppercase;
    color: color(brand, orange);
    font-size: rem(27);
  }

  .nav-link {
    color: color(brand, platinum);
    position: relative;

    span {
      width: 0;
      height: 2px;
      background-color: color(brand, platinum);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all $transition-normal;
    }

    &:hover {
      span {
        width: 100%;
      }
    }
  }

  .custom-active {
    color: color(brand, orange) !important;

    span {
      background-color: color(brand, orange) !important;
    }
  }

  .address {
    color: color(brand, platinum) !important;
    border: 1px solid color(brand, platinum);
    padding: 12px 40px;
  }

  &__online {
    height: 10px;
    width: 10px;
    background-color: color(online);
    position: absolute;
    top: calc(50% - 5px);
    left: 25px;
    border-radius: 50%;
  }
}
