// Main Nav

.main-nav {
  &__navbar {
    background-color: color(brand, oxford-blue);
    height: 100px;
  }
  .navbar-brand {
    color: color(brand, orange);
    font-size: rem(27);
  }

  .nav-link {
    color: color(brand, platinum);

    .acvtive {
      color: color(grey, mist) !important;
    }

    &:hover {
      color: color(brand, silver-lake-blue);
    }
  }

  .address {
    color: color(brand, platinum) !important;
    border: 1px solid color(brand, platinum);
    padding: 12px 40px;
  }
}
