// Icon Hero

.icon-hero {
  height: 33vh;
  position: relative;

  .icon {
    fill: color(brand, silver-lake-blue);
    opacity: 0.2;
    position: absolute;
    top: 0;
    left: 60px;
    z-index: -1;
    height: 100%;
    width: 100%;
  }

  &__header {
    @include spaced(3px);
    font-weight: bold;
    font-size: rem(70);
  }
}
