// Root Layout

body {
  background-color: color(grey, air);
  color: color(brand, rich-black);
  font-size: rem(15);

  .line {
    position: absolute;
    height: 100vh;
    left: 50%;
    width: 2px;
    background-color: black;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.main-content {
  min-height: calc(100vh - 100px);
  padding-bottom: 50px;
}
